@media screen and (max-width:600px) {
*{
    margin: 0;
}

    header{width: 100%;
    height: 20vh;
}
    .box{display: block;
        flex-wrap: wrap;
        width: 100%;
        height: 80vh;
    }
.flex{width: 100vw;
    height: 60vh;

}
.B{width: 100%;
    height: 40vh;

}
.flex-box{width: 100% ;
    height: 20vh;
}
.C {
    width: 33.3vw;
    height: 20vh;
}
.D{
    width: 33.3vw;
    height: 20vh;
}
.E{
    width: 33.3vw;
    height: 20vh;
}

.F{width: 100%;
    height: 20vh;
}








}