header{
    width: 100vw;
    height: 100vh;
    background: url("image 4-1.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
main{
    width: 70vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.img-1{width: 35vw;
    height: 40vh;
    background: #FAF9F7;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img{
    width: 35vw;
    height: 40vh;
    background-image: none;
}
input[type="submit"]{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    margin-bottom: 20px;
}
aside{
    width:1000px;
    height: 200px;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 30px;
}
iframe{
    margin-top: 40px;
    width: 1000px;
    height: 500px;
}

section{
    background-image: url("Rectangle4(2).png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
article {
    width: 100vw;
    height: 100vh;
    background-image: url("Rectangle4(2).png");
    background-size: cover;
}

.boxin{
    height: 800px;
    display: flex;
    justify-content:space-around;
}
.one{width: 450px;
    height: 550px;
    background: rgba(83, 83, 83, 0.40);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.two{width: 450px;
    height: 550px;
    background: rgba(83, 83, 83, 0.40);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}
.three{width: 450px;
    height: 550px;
    background: rgba(83, 83, 83, 0.40);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
article input[type=submit]{
margin-top: 40px;
}




